.footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 20px;
}
.footer img {
  width: 50px;
}
.footer article {
  margin-left: 15px;
}
.footer article p {
  margin: 5px 0;
}
.text_name {
  font-weight: 700;
}
